<h1>VACANCIES - Add log</h1>

<form class="form-horizontal" ng-init="initLog()">

	<div class="form-group">
		<label class="col-sm-2">Vacancy</label>
		<div class="col-sm-6">
			<select class="form-control"
				ng-options="vacancy as vacancy.jobTitle for vacancy in vacancies"
				ng-model="vacancySelected">
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">User</label>
		<div class="col-sm-6">
			<select class="form-control"
				ng-options="user as user.email for user in users"
				ng-model="userSelected">
			</select>
		</div>
	</div>



	<div class="form-group">
		<label class="col-sm-2">Date applied</label>
		<div class="col-sm-6">
			<input class="form-control" ng-model="log.dateApplied" />
		</div>
	</div>




	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="saveLog()">Save</button>
		</div>
	</div>
</form>