<h1>VACANCIES - Add/edit vacancy</h1>

<form class="form-horizontal" ng-init="initVacancy()">

    <div class="form-group">
        <label class="col-sm-2">Job title</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="vacancy.jobTitle" />
        </div>
    </div>  
    
    <div class="form-group">
        <label class="col-sm-2">Company name</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="vacancy.companyName" />
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2">Job description</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="vacancy.jobDescription" />
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2">Creation date</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="vacancy.creationDate" />
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2">Expiring date</label>
        <div class="col-sm-6">
            <input class="form-control" ng-model="vacancy.expiringDate" />
        </div>
    </div>    

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click="saveVacancy()">Save</button>
    </div>
  </div>
</form>
