<table class="table table-bordered" ng-init="getLogs()">

<div>
	<h2 ng-repeat="log in logs | unique: 'vacancy.jobTitle'">Logs for vacancy: {{log.vacancy.jobTitle}}</h2>
</div>

	<thead>
		<tr>
			<th>ID</th>
			<th>Date applied</th>
			<th>Vacancy</th>
			<th>User</th>
			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="log in logs">
			<td>{{ log.id }}</td>
			<td>{{ log.dateApplied }}</td>
			<td>{{ log.vacancy.jobTitle }}</td>
			<td>{{ log.user.email }}</td>
			
			
		</tr>
	</tbody>
</table>