<h1>Logs</h1>

<table class="table table-bordered" ng-init="getLogs()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date applied</th>
			<th>Vacancy</th>
			<th>User</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="log in logs">
			<td>{{ log.id }}</td>
			<td>{{ log.dateApplied }}</td>
			<td>{{ log.vacancy.jobTitle }}</td>
			<td>{{ log.user.email }}</td>
		</tr>
	</tbody>
</table>
<a href="#/logs/add">Add new log</a>
