<h1>Users ({{ totalElements }})</h1>
<input ng-model="search" />
<button class="btn btn-default" ng-click="getUsers()">Search</button>
<button class="btn btn-default" ng-click="search = null; getUsers()">Clear</button>

<table class="table table-bordered" ng-init="getUsers()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Email</th>
			<th>Password</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Logs</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td>{{ user.id }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.password }}</td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
			<td><a href="#/users/{{user.id}}/logs"> {{ user.logCount }} </a></td>
			<td>
				<button type="button" class="btn btn-danger btn-sm" ng-click="deleteUser(user.id, $index)">Delete</button>
				<a class="btn btn-default btn-sm" href="#/users/edit/{{ user.id }}">Edit</a>
			</td>
			</tr>
	</tbody>
</table>
<div class="alert alert-success" role="alert" ng-show="succesMessage">{{ succesMessage }}</div>
<div class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
<div class="col-md-12 text-right">
	<button class="btn btn-default" ng-click="changePage(page - 1)" ng-disabled="page == 0">Previous</button>
	<span class="label label-default">{{ page + 1 }}</span>
	<button class="btn btn-default" ng-click="changePage(page + 1)" ng-disabled="page == totalPages - 1">Next</button>
</div>

<a href="#/users/add">Add User</a>