<h1>Vacancies ({{ totalElements }})</h1>

<input ng-model="search" />
<button class="btn btn-default" ng-click="getVacancies()">Search</button>
<button class="btn btn-default" ng-click="search = null; getVacancies()">Clear</button>

<table class="table table-bordered" ng-init="getVacancies()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Job title</th>
			<th>Company name</th>
			<th>Job description</th>
			<th>Creation date</th>
			<th>Expiring date</th>
			<th>Logs</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="vacancy in vacancies">
			<td>{{ vacancy.id }}</td>
			<td>{{ vacancy.jobTitle }}</td>
			<td>{{ vacancy.companyName }}</td>
			<td>{{ vacancy.jobDescription }}</td>
			<td>{{ vacancy.creationDate }}</td>
			<td>{{ vacancy.expiringDate }}</td>
			<td><a href="#/vacancies/{{vacancy.id}}/logs"> {{ vacancy.logCount }} </a></td>
			<td>
				<button type="button" class="btn btn-danger btn-sm" ng-click="deleteVacancy(vacancy.id, $index)">Delete</button>
				<a class="btn btn-default btn-sm" href="#/vacancies/edit/{{ vacancy.id }}">Edit</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="alert alert-success" role="alert" ng-show="succesMessage">{{ succesMessage }}</div>
<div class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
<div class="col-md-12 text-right">
	<button class="btn btn-default" ng-click="changePage(page - 1)" ng-disabled="page == 0">Previous</button>
	<span class="label label-default">{{ page + 1 }}</span>
	<button class="btn btn-default" ng-click="changePage(page + 1)" ng-disabled="page == totalPages - 1">Next</button>
</div>

<a href="#/vacancies/add">Add Vacancy</a>